.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.FirstComponent {
color: red;
}

.SecondComponent {
color: blue;
}

.ThirdComponent {
color: purple;
}

.FourthComponent {
color: green;
}

.FifthComponent {
color: teal;
}

.StateComponent {
color: orange;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
